<!DOCTYPE html>
<html>
<head>
  <title>Musicapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if logged_in? %>
  <%= button_to "Log out", session_url, method: :delete %><br>
<% else %>
  <%= link_to "Log in", new_session_url %><br>
<% end %>

<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
   <%= error %><br />
  <% end %>
<% end %>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= yield %>

</body>
</html>
